<!DOCTYPE html>
<html>
<head>
    <title>Brain Tumor Detection</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>🧠 Brain Tumor Detection System</h1>

    <form action="/predict"
          method="POST"
          enctype="multipart/form-data">

        <input type="file"
               name="image"
               required>

        <button type="submit">
            Predict
        </button>

    </form>

    {% if prediction %}

    <div class="result">

        <h2>{{ prediction }}</h2>

        <h3>
            Confidence:
            {{ confidence }}%
        </h3>

    </div>

    {% endif %}

</div>

</body>
</html>